{% extends 'layout.html.twig' %}

{% block title %}
    Ajouter un set
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}



{% block content %}
    <h1 class="title">Ajouter un set</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="offset-1 col-3">
                <button type="button" class="btn btn-lg">Changer set</button>
            </div>
            <div class="offset-4"></div>
            <div class="offset-1 col-3">

                <button type="button" class="btn btn-lg">Changer l'accueil</button>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="offset-1 col-3">

                <div class="dropdown">
                    <select class="btn btn-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <option class="dropdown-item" type="button">Ajouter un set</option>
                            <option class="dropdown-item" type="button">Modifier un set</option>
                            <option class="dropdown-item" type="button">Supprimer un set</option>
                        </div>
                    </select>

                </div>


            </div>
            <div class="offset-1 col-3">
                <button type="button" class="btn btn-">Valider</button>

            </div>



        </div>
        <div class="row justify-content-center">


            {% for i in 0..7 %}

                <div class="col-1">

                    <div class="thumbnail">

                        <h5><span class="titre">Image</span></h5>

                            <img src="/assets/images/imgUploaded/image5ac374ae45903" alt="Image" class="img-thumbnail">


                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Cheveux
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Lunettes
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Barbe
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Chapeau
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            R à lèvres
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            H/F
                        </label>
                    </div>
                </div>
            {% endfor %}


        </div>
        <div class="row justify-content-center">


            {% for i in 0..7 %}

                <div class="col-1">

                    <div class="thumbnail">

                        <h5><span class="titre">Image</span></h5>

                            <img src="/assets/images/imgUploaded/image5ac374ae45903" alt="Image" class="img-thumbnail">




                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Cheveux
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Lunettes
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Barbe
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Chapeau
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            R à lèvres
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            H/F
                        </label>
                    </div>

                </div>
            {% endfor %}


        </div>
        <div class="row justify-content-center">


            {% for i in 0..7 %}

                <div class="col-1">

                    <div class="thumbnail">

                        <h5><span class="titre">Image</span></h5>

                            <img src="/assets/images/imgUploaded/image5ac374ae45903" alt="Image" class="img-thumbnail">




                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Cheveux
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Lunettes
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Barbe
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Chapeau
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            R à lèvres
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            H/F
                        </label>
                    </div>
                </div>
            {% endfor %}


        </div>
        <div class="row justify-content-center">


            {% for i in 0..7 %}

                <div class="col-1">

                    <div class="thumbnail">

                        <h5><span class="titre">Image</span></h5>

                            <img src="/assets/images/imgUploaded/image5ac374ae45903" alt="Image" class="img-thumbnail">




                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Cheveux
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Lunettes
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Barbe
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Chapeau
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            R à lèvres
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            H/F
                        </label>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row justify-content-center">
            <div class="col-1">
                <button type="button" class="btn btn-lg">Valider</button>
            </div>

        </div>
    </div>


{% endblock %}
