{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block header %}



{% endblock %}

    {% block content %}


        <div class="container-fluid">
            <header class="row ">
                <div class="col py-4 ">
                    <h1 class="title">Crée un set</h1>
                    <div class="row justify-content-center">

                        <div class="offset-1 col-3">
                            <form class="" action="/changerAccueil" method="POST">
                                <button type="submit" class="btn btn-lg btn-responsive">Changer l'accueil</button>
                            </form>
                            <p> {{ errors }} </p>

                        </div>
                    </div>
                </div>
            </header>

                <p> {{ errors }} </p>
            <div class="row">
                <div class="px-2 py-4 ">
                    <section class="col-lg-12">
                        <form action="/redirection" method="POST">
                            <div class="row justify-content-center my-4">
                                <div class="offset-1 col-3">
                                    <div class="dropdown">
                                        <select class="btn btn-btn btn-responsive dropdown-toggle" name="selectAA" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <option class="dropdown-item" name="ajouter" selected="selected" type="button">Ajouter un set</option>
                                                <option class="dropdown-item" name="modifier" type="button">Modifier un set</option>
                                                <option class="dropdown-item" name="supprimer" type="button">Supprimer un set</option>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                                <div class="offset-1 col-3">
                                    <button type="submit" class="btn btn- btn-responsive">Valider</button>
                                </div>

                            </div>
                        </form>


                        <form  class="" id="" action="/addBdd" method="post" enctype="multipart/form-data">
                            <input type="text" name="nomDuDecks" placeholder="Nom du decks !">
                            <div class="row justify-content-center my">

                                {% for param in car %}

                                    <div class="col-md-3  mx-">
                                        <div class="thumbnail mb-2">
                                            <p><span class="titre">Image{{param.ID}}</span></p>

                                            <img src="http://via.placeholder.com/200x200" alt="Image" class="img-thumbnail mb-2">
                                            <span id="FakeInput">
                                                <span></span><span>...</span>
                                                <input  name="files[]" type="file" id="fichier_a_uploader" multiple="multiple" />
                                                <input type="hidden" name="fichier1" value="1" />
                                            </span>

                                        </div>
                                        <div class="mx-5 mb-3" >
                                            <ul class="list-group">

                                                {% if param.genre == "homme" %}
                                                    <li class="list-group-item list-group-item-success">Homme</li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-success">Femme</li>
                                                {% endif %}

                                                {% if param.lunette == "oui" %}
                                                    <li class="list-group-item list-group-item-success">Lunettes</li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-danger">Pas de lunettes</li>
                                                {% endif %}

                                                {% if param.barbe == "oui" %}
                                                    <li class="list-group-item list-group-item-success">Barbe</li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-danger">Pas de barbe</li>
                                                {% endif %}

                                                {% if param.cheveux == "oui" %}
                                                    <li class="list-group-item " style="background-color: rgba(179, 81, 59, 0.88)">Cheveux brun</li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-warning">Cheveux blond</li>
                                                {% endif %}

                                                {% if param.chapeau == "oui" %}
                                                    <li class="list-group-item list-group-item-success">Chapeau</li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-danger">Pas de chapeau</li>
                                                {% endif %}

                                                {% if param.ral == "oui" %}
                                                    <li class="list-group-item list-group-item-success">Rouge à lèvres</li>
                                                {% else %}
                                                    <li class="list-group-item list-group-item-danger">Pas de rouge à lèvres</li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                            <div class="row justify-content-center" id="Upl">
                                <div class="col py-4 ">
                                    <button type="submit" class="btn btn-lg btn-responsive" name="Uploader" value="Uploader">Upload</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>

    {% endblock %}

    {%  block javascript %}

        <script src="assets/js/input.js"></script>

    {% endblock %}
