{% extends 'layout.html.twig' %}

{%  block content %}
<form  action="/admin" method="POST">
    <div>
        <p style="color:green"></p>
    </div>
    <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="user_name" value=""  />

    </div>
    <div>
        <label for="courriel">Courriel :</label>
        <input type="email" id="courriel" name="user_email" value=""  />

    </div>
    <div>
        <label for="tel">Numero :</label>
        <input type="tel" id="tel" name="user_tel" value=""  pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$" placeholder="06/07...."  />

    </div>
    <div class="option">

        <SELECT name="Sujet" size="1">
            <OPTION>Feedback
            <OPTION>Conseil
            <OPTION>Message pro
            <OPTION>Contactez-nous
        </SELECT>

    </div>
    <div>
        <label for="message">Message :</label>
        <textarea id="message" name="user_text" value="" ></textarea>

    </div>

    <div class="button">
        <button href="" type="submit">Envoyer votre message</button>
    </div>
</form>

    {%  endblock %}