{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="assets/css/play.css">
{% endblock %}

{% block content %}


<div class="row justify-content-center">

	<label for="">A t'il des </label>

	<select class="" name="">
	<option value="">Cheveux</option>
	<option value="">bla</option>
	<option value="">bli</option>
	</select>

</div>

<div class="container-fluid middletop">


    {% for items in 1..4	 %}
	  <div class="row  justify-content-center">

		{% for items in 1..8 %}
	    <div class="col-1">

      <div class="thumbnail">
        <a href="/play"><img src="http://via.placeholder.com/130x150" class="rounded-top" alt="Sample image"></a>

      </div>
    	</div>
    {% endfor %}

			</div>
		  {% endfor %}

  </div>


{% endblock %}
