{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="assets/css/play.css">
{% endblock %}

{% block content %}


<div class="row justify-content-center middletop">

	<label for="">Le personnage </label>

	<select class="" name="">
	<option value="">A t'il des cheveux?</option>
	<option value="">A t'il des lunettes?</option>
	<option value="">A t'il une barbe?</option>
	</select>

	<button>Valider</button>

	<h3>la reponse</h3>


</div>
	<div class="container-fluid justify-content-center ecart">


    {% for items in 1..4	 %}
	  <div class="row  justify-content-center">

		{% for items in 1..8 %}
	    <div class="col-1">

      <div class="thumbnail">
        <a href="/play"><img src="http://via.placeholder.com/130x150" class="rounded-top" alt="Sample image"></a>

      </div>
    	</div>
    {% endfor %}

			</div>
		  {% endfor %}

		<button>Valider</button>

	</div>


{% endblock %}
