<h1>&nbsp;Comment jouer &agrave; Qui est-ce Hasan ?</h1>
<p>&nbsp;</p>
<p>Peu importe votre &acirc;ge, si vous aimez les jeux de d&eacute;duction,<br />vous allez adorer le jeu de soci&eacute;t&eacute; "WooaMye ?"!</p>
<p>Il vous suffit juste de trouver le personnage (s&eacute;lectionn&eacute; al&eacute;atoirement).<br />En utilisant les questions pr&eacute;d&eacute;finies dont la r&eacute;ponse sera OUI ou NON !</p>
<p>Exemple de question : Est ce que le personnage &agrave; une barbe ?</p>
<p>- Si la r&eacute;ponse &agrave; la question est OUI dans ce cas le joueur peut s&eacute;lectionner tous les personnages qui n'ont pas de barbe et cliqu&eacute;e sur le bouton "Eliminer".</p>
<p>- Si la r&eacute;ponse est NON alors il pourra s&eacute;lectionner les personnages qui ont une barbe et cliqu&eacute; sur le bouton "Eliminer".</p>
<p>Lorsque vous pensez avoir identifi&eacute; le personnage vous pouvez le s&eacute;lectionner et valider votre choix.</p>
<p>-Si la r&eacute;ponse donn&eacute;e est fausse vous perdez la partie et la bonne carte vous sera montr&eacute;e.<br /><br />-Si vous choisissez la bonne carte vous avez gagn&eacute;!</p>