.container-fluid
{
    max-width: 100%;;
}

img{
	height: 100px;
}
h1
{
	text-align: center;
	font-size: 1,2em;

}
.form-check{
    font-size: small ;
}
.list-group-item
{
    font-size: small ;
    padding: 0;
}

.list-group-item-danger
{
    background: #FFA07A;
}
header, section  /* Mettre une bordure sur les td ET les th */
{
	border: 1px solid black;
    background: #FFFAFA;
}

section
{
	border: 1px solid gray;
    border-radius: 1em;
    background: #DCDCDC;
}
.list-unstyled
{
    justify-content: center;
}
.thumbnail
{
    mb-2;
}