body{
	background-color: #ecf0f1;

}
.row{
    margin-top: 5vh;
}
.titre{
    border: 1px solid black;
    border-radius: 50px;
    background-color: #bdc3c7;
    text-align: center;
    padding-top: 4vh;
}

h4{
    font-family: 'Playfair Display', serif;
    color: darkorange;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;

}
.textimg{
    height: 15vw;

}

.deckChoix{
	margin-top: 1vh;
}
p{
	text-align: center;
	font-family:'Inconsolata', monospace;
	margin-top: 10vh;
	font-size: 30px;
    text-shadow: 2px 2px 4px black;
}
h6{
	font-family: 'Inconsolata', monospace;
	color: #000000;
	text-align: center;
	margin-top: 6vh;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;

}
span{
	color:red;
}
.container{
    min-width:600px;
}