body{
	background-color: beige;

}
h3{
	font-family: 'Press Start 2P', cursive;
	color: red;
	text-align: center;
	margin-top: 5vh;
}

.deckChoix{
	margin-top: 1vh;
	margin-bottom: 5vh;
}
p{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	margin-top: 10vh;
}

