body{
    background-color: #484747;
}

h1 {
    text-align: center;
	color:#FE0101;
    font-family: 'Playfair Display', serif;
}
/*Gere les marge du input*/
.form-group{
    margin-left: 7px;
}
/*Gere la font du input et boutton*/
input,button{
    margin-top: 5vh;
    font-family: 'Press Start 2P', cursive;
}
/* Gere le bouton jouer*/
.form-control{
    background-color:;
    color: black;
    margin-right: 10px;

}
/*Gere l'encadrer play*/

/*Gere l'encadrer des Regles*/
.regles{
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 100px;
    margin-left: 55px;
    padding-top: 10px;
    background-color: #A6A6A6;
    color: #010101;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}
/* Gere le titre dans .regles */
.titre{
    font-size: 23px;
}

/*Gere le titre du scoring*/
h5{
    color:#FE0101;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-top: 10px;
}
/*Gere l'encadrer scoring*/
.scoring{
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 100px;
    background-color: black;
}
/*Gere l'ecriture dans scoring*/
.player{
    padding-top: 20px;
    font-family: 'Press Start 2P', cursive;
    color: yellow;

}
.titleScoring{
    font-family: 'Press Start 2P', cursive;
    color: darkorange;
}
.btnJouer{
    background-color: yellow;
}
[placeholder] {
    color: red;
}