body{
    background-color: beige;
}
h4{
	color:#E10101;
	font-family: 'Press Start 2P', cursive;

}
/*gere le ? */
h1{
    color:#E10101;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    background-color: blue;
    margin-bottom: 20px;

    border: 5px solid black;
    border-radius: 100px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/*Gere les marge du input*/
.form-group{
    margin-left: 7px;
}
/*Gere la font du input et boutton*/
input,button{
    font-family: 'Press Start 2P', cursive;
}
/* Gere le bouton jouer*/
.form-control{
    background-color: yellow;
    color: black;
    margin-right: 10px;
}
/*Gere l'encadrer play*/

/*Gere l'encadrer des Regles*/
.regles{
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 100px;
    margin-left: 55px;
    padding-top: 10px;
    background-color: dimgrey;
    color: cornsilk;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
/* Gere le titre dans .regles */
.titre{
    font-size: 23px;
}

/*Gere le titre du scoring*/
h5{
    color:#E10101;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-top: 10px;
}
/*Gere l'encadrer scoring*/
.scoring{
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 100px;
    background-color: black;
}
/*Gere l'ecriture dans scoring*/
.player{
    padding-top: 20px;
    font-family: 'Press Start 2P', cursive;
    color: yellow;

}
.titleScoring{
    font-family: 'Press Start 2P', cursive;
    color: darkorange;
}
