body{
	background-color: #ecf0f1;
}
button{
	color: white;
}
.row{
    margin-top: 5vh;
}
.titre{
    border: 1px solid black;
    border-radius: 50px;
    background-color: #bdc3c7;
    text-align: center;
    padding-top: 4vh;

}
h4{
    font-family: 'Playfair Display', serif;
    color: darkorange;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}

span{
    color:black;
}
.btn-danger{
	margin-top: 3vh;
}
.valider{
	margin-top: 3vh;
}
.bottomButton{
	margin-top: 5vh;
	margin-bottom: 10vh;
}
.question{
	font-size: 20px;
	text-align: center;
	margin-top: 5vh;
}
.reponse{
	font-size: 20px;
	text-align: center;
	margin-top: 5vh;
}
.input-group{
	width: 400px;
}
.plateau{
	margin-top: 5vh;
}
.container{
	margin-top: 1vh;
}
.img{
    margin-top: 3vh;
}
.check{
    background-color: green;
}
.Pseudo{
    font-family: 'Inconsolata', monospace;
    color: #ff0814;
    font-size: 30px;
    text-align: center;
    margin-top: 5vh;
    text-shadow: 2px 2px 4px black;

}
.Score{
    font-family: 'Inconsolata', monospace;
    color: #ff0814;
    font-size: 30px;
    text-align: center;
    margin-top: 5vh;
    text-shadow: 2px 2px 4px black;

}

.custom-select{
    width: 100vw;
}

.nopad {
    margin-right: 1vh;
    margin-top: 1vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.image-checkbox input[type="checkbox"] {
    display: none;
}

.opacity {
    opacity: 0.3;
}

.red {
    background-color: red;
}
.image-checkbox-checked {
    background-color: red;
    opacity: 0.5;
}
.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
}
.image-checkbox-checked .fa {
    display: block !important;
}
.container{
    min-width:600px;
}