body{
	background-color: beige;
}
button{
	color: white;
}
h4{
	font-family: 'Press Start 2P', cursive;
	color: red;
	text-align: center;
	margin-top: 5vh;
}
.btn-danger{
	margin-top: 3vh;
}
.valider{
	margin-top: 3vh;
}
.bottomButton{
	margin-top: 5vh;
	margin-bottom: 10vh;
}
.question{
	font-size: 20px;
	text-align: center;
	margin-top: 5vh;
}
.reponse{
	font-size: 20px;
	text-align: center;
	margin-top: 5vh;
}
.input-group{
	width: 400px;
}
.plateau{
	margin-top: 5vh;
}
.container{
	margin-top: 2vh;
}
.test{
	border: 1px solid black;
}
.img{
    margin-top: 2vh;
}
.check{
    background-color: green;
}
